<%
  job = tab[:locals][:job]
  journals = tab[:locals][:journals]
%>

<% reply_links = job.notes_addable? %>
<% journals.each_with_index do |journal, indice| %>
  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
    <div id="note-<%= indice %>" class="note">
      <div class="contextual">
        <span class="journal-actions">
          <%= render_journal_actions(job, journal, :reply_links => reply_links) %>
        </span>
        <a href="#note-<%= journal.indice %>" class="journal-link"><%= indice %></a>
      </div>
      <h4 class="note-header">
        <%= avatar(journal.user) %>
        <%= authoring journal.created_on, journal.user, label: :label_updated_time_by %>
      </h4>

      <% if journal.details.any? %>
        <ul class="details">
          <% details_to_strings(journal.visible_details).each do |string| %>
            <li><%= string %></li>
          <% end %>
        </ul>
      <% end %>

      <%= render_notes(job, journal) unless journal.notes.blank? %>
    </div>
  </div>
<% end %>
