<tr>
  <td><%= link_to job.name, project_job_path(job.project, job) %></td>
  <td><%= format_date(job.starts_on) %></td>
  <td><%= format_date(job.ends_on) %></td>
  <td><%= job.project_id %></td>
  <td><%= job.external_project_id %></td>
  <td>
    <%= l_hours_short(job.total_time_budget) %>
  </td>
  <td>
    <%= total_progress_bar(job) %>
  </td>
</tr>

