<tr>
  <td><%= link_to job.name, job_path(job) %></td>
  <td><%= job.category&.name || "Unassigned" %></td>
  <td><%= format_date(job.starts_on) %></td>
  <td><%= format_date(job.ends_on) %></td>
  <td>
    <%= total_progress_bar(job) %>
  </td>
</tr>

