<% html_title @job.name %>
<div class="contextual">
  <%= link_to 'Edit', edit_job_path(project_id: @project.id), class: "icon icon-edit edit-job" %>
  <%= actions_dropdown do %>
    <%= copy_object_url_link(job_url(@job, project_id: @project.id, only_path: false)) %>
    <%= link_to "Delete job", job_path(@job), data: { confirm: "Are you sure you want to delete this job?" }, method: :delete, class: 'icon icon-del' %>
  <% end %>
</div>
<h2>Job #<%= @job.id %></h2>
<div class="issue">
  <div class="subject"><h3><%= @job.name %></h3></div>
  <p><%= @job.description %></p>
  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label">Starts on:</div>
          <div class="value"><%= format_date(@job.starts_on) %></div>
          <div class="label">Ends on:</div>
          <div class="value"><%= format_date(@job.starts_on) %></div>
          <div class="label">External project ID:</div>
          <div class="value"><%= @job.external_project_id %></div>
        </div>
      </div>
      <div class="splitcontentright">
        <h3>Time logged:</h3>
        <div class="status attribute">
          <div class="label">Total:</div>
          <div class="value">
            <%= l_hours_short(@job.total_time_logged) %> / <%= l_hours_short(@job.total_time_budget) %>
            <progress max="<%= @job.total_time_budget %>" value="<%= @job.total_time_logged %>"></progress>
          </div>
          <% @job.time_budgets.each do |budget| %>
            <%= render partial: "budget", locals: { budget: budget } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
