<% content_for :header_tags do %>
  <%= stylesheet_link_tag "jobs", plugin: "jobs" %>
<% end %>

<% html_title @job.name %>
<div class="contextual">
  <%= link_to 'Edit', edit_project_job_path(@project, @job), class: "icon icon-edit edit-job" %>
  <%= actions_dropdown do %>
    <%= copy_object_url_link(project_job_url(@project, @job, only_path: false)) %>
    <%= link_to "Delete job", project_job_path(@project, @job), data: { confirm: "Are you sure you want to delete this job?" }, method: :delete, class: 'icon icon-del' %>
  <% end %>
</div>
<h2>Job #<%= @job.id %></h2>
<div class="job">
  <div class="subject"><h3><%= @job.name %></h3></div>
  <p><%= @job.description %></p>
  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label">Category:</div>
          <div class="value"><%= @job.category&.name || "Unassigned" %></div>
          <div class="label">Starts on:</div>
          <div class="value"><%= format_date(@job.starts_on) %></div>
          <div class="label">Ends on:</div>
          <div class="value"><%= format_date(@job.ends_on) %></div>
        </div>
      </div>
      <div class="splitcontentright">
        <h3>Time logged:</h3>
        <div class="status attribute">
          <div class="label">Total:</div>
          <div class="value">
            <%= total_progress_bar(@job) %>
          </div>
          <% @job.time_budgets.each do |budget| %>
            <%= render partial: "budget", locals: { budget: budget } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
